
.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.topBar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
  font-size: 14px;
}

.topItem {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #EB4C6B;
  font-weight: 500;
}

.mainNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 20px 40px 20px 40px;
}

.topIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 50px;
}

.logo {
  font-weight: bold;
  font-size: 35px;
  margin-left: 189px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navLinks a:hover {
  color: #555;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.languageDropdown {
  cursor: pointer;
}

.burgerIcon{
  display: none;
}

@media (max-width: 1080px) {
  .mainNavbar{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .burgerIcon{
    display: none;
  }

  .navLinks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .topIcons {
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .mainNavbar {
    padding: 10px 15px; 
    margin: 10px 20px;   
  }

  .logo {
    font-size: 25px;  
    margin-left: 143px;   
    text-align: center;
  }

  .navLinks {
    flex-direction: column; 
    gap: 10px;             
    align-items: center;
  }

  .burgerIcon{
    display: block;
  }


  .navLinks{
    display: none;
  }

  .navLinks a {
    font-size: 16px;     
  }

  .topIcons {
    justify-content: space-between;
    gap: 20px;
  }

  .icons {
    font-size: 16px;       
  }

  .burgerLogo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .mainNavbar {
    padding-top: 10px; 
    margin: 0px;
  }

  .logo {
    font-size: 25px;  
    margin-left: 143px;   
    text-align: center;
  }

  .navLinks {
    flex-direction: column; 
    gap: 10px;             
    align-items: center;
  }

  .burgerIcon{
    display: block;
  }


  .navLinks{
    display: none;
  }

  .navLinks a {
    font-size: 16px;     
  }

  .topIcons {
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 0px;
  }

  .icons {
    font-size: 16px;       
  }

  .burgerLogo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 360px) {
  .topBar {
    padding: 5px;
    font-size: 11px;
  }

  .topItem {
    gap: 3px;
    font-size: 10px;
  }

  .logo {
    font-size: 18px;
    margin-left: 0px;
  }

  .navLinks a {
    font-size: 12px;
  }

  .icons {
    font-size: 12px;
  }

  .burgerIcon {
    font-size: 18px;
  }

  .topIcons {
    gap: 15px;
    padding: 5px;
  }

  .profileIcon, .languageDropdown{
    display: none;
  }
  
}
