.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 620px;
}

.contactus {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newsletter h3 {
  font-size: 18px;
  font-weight: bold;
}

.newsletter p {
  font-size: 14px;
  margin: 10px 0;
}

.inputWrapper {
  display: flex;
  gap: 10px;
}

.inputWrapper input {
  padding: 10px;
  width: 60%;
  border: none;
  border-radius: 4px;
}

.inputWrapper button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: 40px;
}

.sections h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sections ul {
  list-style: none;
  padding: 0;
}

.sections ul li {
  font-size: 14px;
  margin: 5px 0;
}

.socials {
  display: flex;
  width: 100px;
  gap: 10px;
  margin-bottom: 40px;
}

.paymentMethods img {
  width: 40px;
  margin-right: 10px;
}

.copyright {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}

.topFooter {
  display: flex;
  justify-content: space-between;
  margin: 10px 90px 10px 90px;
}

.bottomFooter {
  margin: 10px 90px 10px 90px;
}

.followUs {
  text-align: "left";
  margin-right: 170px;
}

.bottomFooterLeft {
  display: flex;
  gap: 202px;
}

.bottomFooterLeft ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 884px) {
  .footer {
    padding: 30px 15px;
  }

  .sections {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .sections div {
    text-align: center;
    margin: 20px 0;
  }

  .inputWrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .inputWrapper input {
    width: 200px;
  }

  .inputWrapper button {
    width: 220px;
  }

  .topFooter {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 20px 0;
  }

  .bottomFooter {
    margin: 20px 0;
  }

  .followUs {
    margin-right: 170px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .bottomFooterLeft {
    display: none;
  }

  .newsletter {
    align-items: center;
    gap: 10px;
    width: 620px;
  }

  .sections {
    min-width: none;
  }
}

@media (max-width: 768px) {
  .sections {
    flex-direction: column;
    align-items: center;
  }

  .sections div {
    text-align: center;
    margin: 20px 0;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 20px 20px;
  }

  .sections {
    flex-direction: column;
    align-items: left;
  }

  .sections div {
    text-align: left;
    margin: 15px 0;
    min-width: 100%;
  }

  .inputWrapper input {
    width: 150px;
  }

  .inputWrapper button {
    width: 170px;
  }

  .paymentMethods img {
    width: 30px;
    margin-right: 5px;
  }

  .topFooter {
    flex-direction: column;
    align-items: left;
    gap: 20px;
    margin: 10px 0;
  }

  .bottomFooter {
    margin: 10px 0;
  }

  .followUs {
    text-align: center;
    margin-right: 0;
  }

  .newsletter {
    width: 320px;
    align-items: left;
  }

  .inputWrapper {
    flex-direction: row;
    align-items: left;
  }

  .sections {
    margin-right: 0px;
  }

  .bottomFooterLeft {
    display: none;
  }
}
